
Web/lifesportsWeb/target/test-classes/log4j.xml
Web/lifesportsWeb/target/test-classes/log4j.xml
Web/lifesportsWeb/target/m2e-wtp/web-resources/META-INF/maven/com.lifesports/web/pom.properties
Web/lifesportsWeb/.settings/org.eclipse.jdt.core.prefs
Web/lifesportsWeb/.classpath
Web/lifesportsWeb/target/m2e-wtp/web-resources/META-INF/maven/com.lifesports/web/pom.properties
Web/lifesportsWeb/target/m2e-wtp/web-resources/META-INF/maven/com.lifesports/web/pom.xml
